html,
body {
    padding: 0;
    margin: 0;
}

#app {
    width: 100vw;
    height: 100vh;
    background-color: #252526;
    color: #d4d4d4;
}

.navbar {
    display: flex;
    padding: 10px 0 0 15px;
    margin-bottom: 10px;
}

.title {
    font-size: 20px;
    font-weight: 600;
}

.icon-box {
    position: fixed;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
}

.icon-box:hover {
    background-color: #d61425;
}

.btn-group {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.confirm,
.cancel {
    cursor: pointer;
    width: 60px;
    height: 32px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
}

.confirm {
    background-color: #2975e9;
}

.cancel {
    background-color: #5b5b5e;
}

input {
    background-color: #3d3d3f;
    border: none;
    color: #d4d4d4;
}
