@font-face {
    font-family: 'calibri';
    src: url('./CALIBRI.TTF') format('truetype');
}

@font-face {
    font-family: 'consola';
    src: url('./CONSOLA.TTF') format('truetype');
}

:root {
    --code-background-color: #1e1e1e;
    --block-background-color: #0a0a0a;
    --block-font-color: #d4d4d4;
}

* {
    margin: 0;
    padding: 0;
    // font-family: 'calibri';
}

::-webkit-scrollbar-track {
    background-color: #252526; /* 轨道的背景颜色 */
}

::-webkit-scrollbar-thumb {
    background-color: #424242; /* 滑块的背景颜色 */
    // border-radius: 10px; /* 滑块的圆角半径 */
}

::-webkit-scrollbar {
    width: 17px; /* 滚动条的宽度 */
    background-color: #252526; /* 滚动条的背景颜色 */
    cursor: default;
}

::-webkit-scrollbar-corner {
    background-color: #252526;
}

li {
    list-style-position: inside;
    margin-left: 10px;
}

textarea {
    font-family: consola;
    resize: none;
    border: 0;
}

// TOC 目录样式
.toc {
    &-list {
        color: var(--block-font-color);
    }

    &-link {
        text-decoration: none;
        color: var(--block-font-color);
    }
}
